<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEQzUTkYWUyoHBpCw060S5tv6VU_s4b7c</string>
	<key>GCM_SENDER_ID</key>
	<string>626148195528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luizf3lipe.Reminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-4f52d</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-4f52d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626148195528:ios:246d357eb37be7835d39fd</string>
</dict>
</plist>